<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<html lang="en">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Beatcamp</title>
		<meta name="description" content="A music sharing single page application heavily inspired by Bandcamp for Fernando Nunez's portfolio. Find more here: https://fernandonunez.io">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('bc_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
