<!DOCTYPE html>
<html>
  <head>
    <title>Beatcamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('bc_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <link 
      href="https://fonts.googleapis.com/css?family=Gothic+A1:400,800"
      rel="stylesheet"
      type="text/css"
    >
    <link 
      href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" 
      rel="stylesheet"
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
      crossorigin="anonymous"
    >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
